<!DOCTYPE html>
<html>
<head>
    <title>HOMEPAGE</title>
</head>
<body>
    <h2>1.avere l'elenco degli appartamenti in vendita in un certo quartiere inserito dall'utente. Visualizzare gli appartamenti in ordine di data</h2>
    <form action="/esercizio1" method = "GET">
        
        <input type="text" name = "quartiere" ></input> <br>

        <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
    </form> <br> <br>
    
    
    <h2>avere l'elenco dei quartieri presenti nel dataset. Visualizzare l'elenco in ordine alfabetico senza<br> ripetizioni (estrarre tutti i quartieri e poi usare i metodi delle liste/tuple/insiemi/dizionari per eliminare i doppioni)</h2>
    <form action="/esercizio2" method = "GET">
    

        <p><input type = "submit" value = "Clicca per conoscere i dati" /></p>
    </form> <br> <br>


</body>
</html>